{
    "presets": ["next/babel"],
    "plugins": [
        ["transform-decorators-legacy"],
        [
            "module-resolver",
            {
                "root": ["."],
                "alias": {
                    "@style": "./styles",
                    "@comps": "./components",
                    "@store": "./store",
                    "@route": "./routes"
                },
                "cwd": "babelrc"
            }
        ],
        [
            "wrap-in-js",
            {
                "extensions": ["css$", "scss$"]
            }
        ]

        // [
        //     "import",
        //     {
        //         "libraryName": "antd",
        //         "style": "css" // or 'css'
        //     }
        // ]
    ],
    "ignore": []
}
