{
	"presets": ["next/babel"],
	"plugins": [
		["transform-decorators-legacy"],
		[
			"module-resolver",
			{
				"root": ["."],
				"alias": {
					"@style": "./client/styles",
					"@comps": "./client/components",
					"@store": "./client/store",
					"@route": "./routes",
					"@static": "./static"
				},
				"cwd": "babelrc"
			}
		],
		[
			"wrap-in-js",
			{
				"extensions": ["css$", "scss$"]
			}
		],
		[
			"transform-assets-import-to-string",
			{
				"baseDir": "static",
				"baseUri": "/"
			}
		]
		// [
		// 	"import",
		// 	[
		// 		// {
		// 		// 	"libraryName": "antd",
		// 		// 	"libraryDirectory": "es",
		// 		// 	"style": true
		// 		// },
		// 		{
		// 			"libraryName": "video.js",
		// 			"libraryDirectory": "dist",
		// 			"style": "css"
		// 		}
		// 	]
		// ]
	],
	"ignore": []
}
