$header: 80px;

.tum-header {
    display: flex;
    justify-content: center;
    background: #fff;
    height: $header;
    .logo {
        flex: 1;
    }

    .main-nav {
        display: flex;
        flex: 5;
        justify-content: flex-end;

        .nav-menu {
            .item {
                line-height: $header;
                margin-top: -2px;
            }
        }
    }
}
